*{
    box-sizing: border-box;
    font: Poppins;
}

textarea{
    width: 100%;
    height: 250px;
    resize: none;
    padding: 15px 25px;
    color: black;
}

input{
    width: 90%;
    outline: none;
    height: 20px;
    padding: 15px;
    border: 2px;
    border-radius: 8px;
    color: black;


}
h1{
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.case{
    background-color: #5e5999;
  
    border: 15px ;
    border-radius: 10px;
}
.case button{
    display: flex;
    justify-content: center;
}

.main h1{
   font-size:xx-large;
    font-weight: bolder;
    padding: 15px;
}

.main {
    background-color: #d1d0de;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}